<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
</head>
<body>
    <h1>Pilih Peranan Anda</h1>
    <form method="POST" action="/select_role">
        <label for="role">Pilih peranan:</label>
        <select id="role" name="role">
            <option value="teacher">Guru</option>
            <option value="spbt">SPBT</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
